.header-container {
    display: flex;
    flex-direction: column;

    h1 {
        cursor: default;
    }
}

.header-tool-container {
    display: flex;

    .active {
        background-color: $secondary-color;
        cursor: default;
    }
}

.btn-save {
    @include flex-center();
    height: 2.2em;
    margin: 1em 1.2em 0 0;
    padding: 0 .8em 0 .8em;
    font-size: 1em;
}

.header-tool {
    @include flex-center();
    height: 2.2em;
    margin: 1em 1.2em 0 0;
    padding: 0 .2em 0 .2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: $secondary-color;
    }
}

.icon-text {
    margin-inline-end: .2em;
    font-family: roboto-light;
}

.header-icon {
    color: $icon-color;
    cursor: pointer;
}

.search-container {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.search-input-container {
    display: flex;
    gap: .2em;

    input,
    select {
        border: none;
        outline: none;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {

    .search-input-container,
    .search-container {
        flex-direction: column;

        input,
        select {
            border: 1px solid $main-color;
            width: 80%;
        }
    }

    .header-tool-container {
        .active {
            background-color: $white-color;
        }
    }
}